<div class="profile">
  <div class="container">

      <h1>My Account</h1>

      <div class="form general_form">
        <%= form_for(@individual_user) do |f| %>
          <h2>Update Account Info</h2>
          <%= f.text_field :username, :placeholder => "Username" %>
          <%= f.text_field :first_name, :placeholder => "First name" %>
          <%= f.text_field :last_name, :placeholder => "last name" %>
          <%= f.email_field :email, :placeholder => "Email" %>
          <%= f.text_field :image, :placeholder => "Image" %>
          <input type="hidden" name="form_type" value="password">
          <%= f.submit "Update Info", class: "btn-submit" %>
        <% end %>
      </div>

      <div class="form password_form">
        <%= form_for(@individual_user) do |f| %>
          <h2>Change Password</h2>
          <%= f.password_field :password, :placeholder => "New Password" %>
          <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
          <br>
          <%= f.password_field :current_password, :placeholder => "Password" %>
          <input type="hidden" name="form_type" value="password">
          <%= f.submit "Change Password", class: "btn-submit" %>
        <% end %>
      </div>

  </div>
</div>
