<div class="profile">
  <div class="container">

      <h1>Account Info</h1>

      <%= image_tag @individual_user.image %>
      <%= @individual_user.username %><br>
      <%= @individual_user.first_name %>
      <%= @individual_user.last_name %><br>
      <%= @individual_user.email %><br>
      <%= link_to edit_user_path(@individual_user.id) %>

  </div>
</div>
