<div class="profile">
  <div class="container">

      <h1>My Account Info</h1>

      <% unless @user.image.nil? %>
        <%= image_tag @user.image %>
      <% end %>
      <%= @user.username %><br>
      <%= @user.first_name %>
      <%= @user.last_name %><br>
      <%= @user.email %><br>
      <%= link_to "Edit", '/edit/profile' %>

  </div>
</div>
