<div class="profile">
  <div class="container">

      <h1>Account</h1>

      <div class="form general_form">
        <%= form_for(@user, url: "/edit/profile/#{@user.username}") do |f| %>
          <h2>Update Account Info</h2>
          <%= f.email_field :email, :placeholder => "Email" %><br>
          <%= f.text_field :image, :placeholder => "Image" %><br>
          <input type="hidden" name="form_type" value="general">
          <%= f.submit "Update Info", class: "btn-submit" %>
        <% end %>
      </div>

      <% if current_user.has_permission?('admin') and current_user.username != @user.id %>
        <div class="form permissions_form">
          <%= form_for(@user, url: "/edit/profile/#{@user.username}") do |f| %>
            <h2>Change Permissions</h2>
            <%= text_field_tag(:permissions, @permissions) %><br>
            <input type="hidden" name="form_type" value="permissions">
            <%= submit_tag("Change Permissions", class: "btn-submit") %>
          <% end %>
        </div>
      <% end %>

      <div class="form password_form">
        <%= form_for(@user, url: "/edit/profile/#{@user.username}") do |f| %>
          <h2>Change Password</h2>
          <%= f.password_field :password, :placeholder => "New Password" %><br>
          <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %><br>
          <br>
          <%= f.password_field :current_password, :placeholder => "Password" %><br>
          <input type="hidden" name="form_type" value="password">
          <%= f.submit "Change Password", class: "btn-submit" %>
        <% end %>
      </div>

  </div>
</div>
