<div class="page">
  <% if @page.has_left_sidebar %>
    <div class="left_sidebar">
      <%= raw(@page.left_sidebar) %>
  </div>
  <% end %>
  <section class="main_content">
    <article>
      <div class="title">
        <h2><%= raw(@page.title) %></h2>
      </div>
      <div class="content">
        <%= raw(@page.body) %>
      </div>
    </article>
  </section>
  <% if @page.has_right_sidebar %>
    <div class="right_sidebar">
      <%= raw(@page.right_sidebar) %>
    </div>
  <% end %>
</div>

<% if current_user and current_user.has_permission?("editor") %>
  <%= link_to 'Edit', edit_page_path(@page) %>
<% end %>
